.category_button {
    width: 200px;
    float: right;

    margin: 0;
    padding: 0;
}

.category_form {
    width: 250px;
    margin: 0;
    padding: 0;
}
.accordion_button {
    width: 250px;

    margin: 0;
    padding: 0;
}

.accordion_resource{
    display: none;
    width: 250px;

    margin: 0;
    padding: 0;
}

.accordion_form {
    width: 250px;
    margin: 0;
    padding: 0;
}

.accordion_form_button {
    width: 200px;
    float: right;

    margin: 0;
    padding: 0;
    
}

.divTableBody {
	width: 1500px
}

.divTableColumn{
	display: block;
	float: left;
}

.divTableColumn input[type=submit]:not(.resource_button), .timeslot_taken{
    padding: 1px;
    margin: 0px;
    font-family: initial;
    width: 100%;
    height: 39px;
    line-height: 39px;
    background: #08c;
    color: #fff;
    border: 0px;
    font-size: 18px;
    font-family: Helvetica;
    font-weight: 200;
    cursor: pointer;
}

.divTableColumn input[type=submit]:hover:not(.resource_button){

    background:blue;
}

.delete_timeslot input[type=submit]:not(.resource_button) {
    background: red;
}
.delete_timeslot input[type=submit]:hover:not(.resource_button) {
    background: darkred;
}

.divTableCell, .divTableHead {
	padding: 1px;
	height: 35px;
	width: 200px;
	display: block;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
