.accordion_button {
    width: 250px;

    margin: 0;
    padding: 0;
}

.accordion_resource{
    display: none;
    width: 250px;
    background-color: grey;

    margin: 0;
    padding: 0;
}

.accordion_form {
    width: 250px;
    margin: 0;
    padding: 0;
}

.accordion_form_button {
    width: 200px;
    float: right;

    margin: 0;
    padding: 0;
    
}
